SECRET=a-secret-string
EMAIL_ADDRESS=authenticator@mydomain.com
EMAIL_PASSWORD=passw0rd
EMAIL_SERVER=mail.myprovider.com
EMAIL_PORT=465
EMAIL_SECURE=1
APP_DOMAIN=mydomain.com
APP_COLORS_PRIMARY=#001bff
APP_COLORS_MUTED=#6c757d
APP_COLORS_MARK=#d9ddff
